<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>id</key>
			<string>s10000</string>
			<key>title</key>
			<string>网址导航</string>
			<key>url</key>
			<string>http://hao.roboo.com</string>
		</dict>
		<dict>
			<key>id</key>
			<string>s10001</string>
			<key>title</key>
			<string>新浪微博</string>
			<key>url</key>
			<string>http://weibo.cn</string>
		</dict>
		<dict>
			<key>id</key>
			<string>s10002</string>
			<key>title</key>
			<string>聚划算</string>
			<key>url</key>
			<string>http://r.m.taobao.com/m3?p=mm_46087331_4196692_13750291&amp;c=1005</string>
		</dict>
		<dict>
			<key>id</key>
			<string>s10003</string>
			<key>title</key>
			<string>装机必备</string>
			<key>url</key>
			<string>http://hao.roboo.com/app_index.htm</string>
		</dict>
		<dict>
			<key>id</key>
			<string>s10004</string>
			<key>title</key>
			<string>听音乐</string>
			<key>url</key>
			<string>http://m.kugou.com</string>
		</dict>
		<dict>
			<key>id</key>
			<string>s10005</string>
			<key>title</key>
			<string>京东商城</string>
			<key>url</key>
			<string>http://m.jd.com/index.html?v=t</string>
		</dict>
		<dict>
			<key>id</key>
			<string>s10006</string>
			<key>title</key>
			<string>酒店预订</string>
			<key>url</key>
			<string>http://m.7daysinn.cn</string>
		</dict>
		<dict>
			<key>id</key>
			<string>s10007</string>
			<key>title</key>
			<string>新闻资讯</string>
			<key>url</key>
			<string>http://n.roboo.com</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>id</key>
			<string>s10008</string>
			<key>title</key>
			<string>搞笑段子</string>
			<key>url</key>
			<string>http://joke.roboo.com?f=1308260004</string>
		</dict>
		<dict>
			<key>id</key>
			<string>s10009</string>
			<key>title</key>
			<string>看小说</string>
			<key>url</key>
			<string>http://book.roboo.com?f=1308260004</string>
		</dict>
		<dict>
			<key>id</key>
			<string>s10010</string>
			<key>title</key>
			<string>看美女</string>
			<key>url</key>
			<string>http://img.roboo.com</string>
		</dict>
	</array>
</array>
</plist>
